:root {
	--clr-primary: #FF990A;
    --clr-secondary: #666666;
    --clr-text: #fff;
	--clr-dark: #2C2C2C;
}

.footer_profile ul{
list-style: outside none none;
margin: 0;
padding: 0
}

.footer_profile a {
	background: var(--clr-secondary);
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	border-radius: 50%;
	line-height: 40px;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--clr-text);
}

.footer_profile a:hover {
    filter: brightness(130%);
    transition: ease-in 200ms;
}

.product-link {
	text-decoration: none;
}

.contact input, .contact textarea {
	border: 1px solid var(--clr-secondary);
	border-radius: 3px;
}

.contact textarea {
	height: 10rem;
}

.contact input:focus, .contact textarea:focus {
	border: 2px solid var(--clr-primary);
	color: var(--clr-dark);
	outline: 0 none;
}

.contact-icon i {
	background: var(--clr-primary);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	min-width: 60px;
}
